{% extends 'base.jinja2' %}

{% block title %}Ш&С™ снукер{% endblock %}

{% block content %}
<div id="snooker-score-keeper">
    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo">Ш&С™ снукер</span>
        </div>
    </nav>
    <div class="container">
        <div class="row center-align">
            <h4>
                Скорее всего вы хотите
            </h4>
            <div>
                <a href="/new-game/" class="btn">Создать новую игру</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}